<div class="row mt-2">
  <div class="col-md-12  col-lg-8">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscar(input.value)" type="text" class="form-control" placeholder="Buscar Materias">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12  col-lg-8">
    <div *ngIf="cargando" class=" alert alert-warning text-center">
      <strong>
        Cargando
      </strong>
      <br>
      <i class="fas fa-sync-alt fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor..</span>
    </div>
  </div>
</div>


<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <div class="text-right">
          <button type="button" class="btn btn-success">
            <a class="boton-catalogo" [routerLink]="['/materias/agregar']">
              <i class="fas fa-plus"></i>
              Materia Prima
            </a>
          </button>
        </div>

        <h3 class="card-title">Materias primas (<small>{{totalRegistros}}</small>)</h3>
        <table *ngIf="!cargando" class="table center table-hover">
          <thead>
            <tr>
              <th class="align-middle">Imagen</th>
              <th class="align-middle">Descripción</th>
              <th class="align-middle">Empaque</th>
              <th class="align-middle text-center">Cantidad por Empaque</th>
              <th class="align-middle">Costo</th>
              <th class="align-middle text-center">Unidad de Medida</th>
              <th class="align-middle text-center">Costo por Unidad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let materia of materias">
              <td class="text-center">
                <img class="miniatura" [src]="materia.img! | imagen:'materias'" alt="">
              </td>
              <td>
                {{materia.descripcion}}
              </td>
              <td class="text-center">
                {{materia.empaque}}
              </td>
              <td class="text-center">
                {{materia.cantxEmpaque}}
              </td>
              <td class="text-center">
                {{materia.costoEmpaque |currency}}
              </td>
              <td class="text-center">
                {{materia.unidadMedida}}
              </td>
              <td class="text-center">
                {{materia.costoxUnidad |currency}}
              </td>
              <td class="d-flex">
                <button class="btn btn-primary">
                  <a class="boton-catalogo" [routerLink]="['/materias/editar',materia._id]">
                    <i class="fas fa-edit"></i>
                  </a>
                </button>
                <button class="btn btn-danger">
                  <a class="boton-catalogo" (click)="eliminarMateria(materia)">
                    <i class="fas fa-trash"></i>
                  </a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="anterior()" class="btn btn-secondary mr-2">
          Anterior
        </button>
        <button (click)="siguiente()" class="btn btn-secondary">
          Siguiente
        </button>

      </div>
    </div>
  </div>
</div>
