<div class="col-12">

  <div class="card mt-3">
    <h4 class="card-header"> Agregar Producto</h4>
    <div class="card-body">


      <div class="bd-example pt-3">
        <form ngNativeValidate [formGroup]="forma" (ngSubmit)="guardar()">
          <div class="form-row">

            <div class="form-group col-md-3">
              <label for="cantxemp">Clave Interna</label>
              <input formControlName="claveInt" name="claveInt" type="text" class="form-control"
                placeholder="Clave Interna">
            </div>

            <div class="form-group col-md-4">
              <label for="descripcion">Descripción</label>
              <input formControlName="descripcion" required name="descripcion" type="text" class="form-control"
                id="descripcion" placeholder="Descripción">
            </div>


            <div class="form-group col-md-3">
              <label for="unidadMedida">Unidad de Medida</label>
              <input formControlName="unidadMedida" name="unidadMedida" type="text" class="form-control"
                placeholder="Unidad de Medida">
            </div>

            <div class="form-group col-md-4">
              <label for="categoria">Categoría</label>
              <select class="form-control" formControlName="categoria" name="categoria" [value]="1">
                <!-- <option>Seleccione una Categoria</option> -->
                <option value="" selected hidden>Seleccione Categoria...</option>
                <option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.descripcion}}</option>
              </select>
            </div>



            <div class="form-group col-md-3">
              <label for="unidadMedida">Precio</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="" class="btn btn-primary" type="button">
                    <span class="fas fa-dollar-sign"></span>
                  </button>
                </span>
                <input formControlName="precio" #txtcosto name="precio" type="number" class="form-control" id="precio"
                  placeholder="" min="0" step="any">
              </div>


            </div>

            <div class="form-group col-md-3">
              <label for="costo">Costo</label>
              <div class="input-group">
                <span class="input-group-btn">
                  <button id="" class="btn btn-primary" type="button">
                    <span class="fas fa-dollar-sign"></span>
                  </button>
                </span>
                <input formControlName="costo" #txtcosto name="costo" type="number" class="form-control" id="costo"
                  placeholder="" min="0" step="any">
              </div>
            </div>



          </div>

          <div class="form-row">

            <div class="form-group col-md-6">

              <label for="subProducto">¿Es un SubProducto?</label>
              <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="subProducto" formControlName="subProducto" id="Si"
                  value="true">
                <label class="form-check-label" for="inlineRadio1">Si</label>
              </div>
              <div class="form-check form-check">
                <input class="form-check-input" type="radio" name="subProducto" formControlName="subProducto" id="No"
                  value="false">
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>

            </div>

            <div class="form-group col-md-6">
              <label for="costo">Fotografia de Producto</label>
              <div class="input-group">
                <img src="" alt="">
                <input type="file" class="form-control" id="foto">
              </div>
            </div>
          </div>

          <div class="form-row">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i>
              Guardar
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div><!-- Main Col END -->
